<?xml version="1.0" encoding="utf-8"?>

<!--
  Entries must be added to the App.config file of your main project. The entries here will be ignored.
-->

<configuration>
  <appSettings>

    <!--The folder to use for data, relative to the ApplicationData folder.-->

    <add key="eveLib.AppData" value="EveLib" />

    <!--The HTTP User Agent name that will be used for requests. Try using your application name.-->

    <add key="eveLib.UserAgent" value="EveLib-development" />

  </appSettings>

  <system.diagnostics>
    <sources>
      <source name="EveLib"
              switchValue="All">
        <listeners>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>